<!DOCTYPE html>
<head>

</head>
<body>
    <h1>TEST TEST TEST</h1>
    <form action="http://localhost:3000/submit" method="post">
        <input name="firstName" />

        <input type="submit" value="Submit form"/>
    </form>
</body>